footer{
    background-color: var(--color-Dark-Gunmetal);
    border-radius: 0 10rem 0 0;
}
.content-footer {
    color: white;
    gap: 1rem;
    .product{
        font-size: 2.2rem;
    }
    h3{
        font-size: 3rem;
    }
    ul{
        padding: 2rem;
        
    }
    li{
        list-style: none;
        padding-bottom: 1rem;
    }
    
}

.container {
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0  .8rem;
}

.container-fluid {
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/**media queries*/

@media (min-width: 567px ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
    .content-designed-for-the-future{
        flex-direction: row-reverse;
    }
    .img-designed-for-the-future{
        padding-bottom: 0%;
    }
    .section-state-of-the-art.section{
        margin: 10rem 0 0;
    }
    .content-state-of-the-art{
        display: flex;
        h2{
            font-size: 2rem;
        }
    }
    .bg-jacarta{
    height: 25rem;
    border-radius: 0 4rem;
    }
    .img-state-of-art {
        height: min-content;
    }
    .content-state-of-the-art .section-1{
        top: -19rem;
    }
    .content-state-of-the-art .section-2{
        top: 1rem;
        padding-right: 1rem;
    }
    .content-free-open-simple{
        display: flex;
        margin: 15rem 0 0 0;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    br{
            display: none;
        }
    h3{
            font-size: 2rem;
    }
    .content-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 768px ) {
    .container {
        max-width: 98%;
        padding: 0 2.4rem;
    }
    .navbar__left{
        flex-basis: 15rem;
    }
    .navbar__center{
        flex-grow: 1;
    }
    .navbar__right {
        display: block;
        flex-basis: 15rem;
    }
    .menu-main{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .icon-burguer{
        display: none;
    }
    .section-designed-for-the-future .section-1,
    .section-designed-for-the-future .section-2{
        flex: 1;
    }
    .content-designed-for-the-future{
        flex-direction: row-reverse;
    }
    .img-designed-for-the-future{
        padding-bottom: 0%;
    }
    .content-state-of-the-art{
        display: flex;
    }
    .bg-jacarta {
        height: 15rem;
    }
    .content-state-of-the-art {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-state-of-the-art .section-1 {
        display: flex;
        position: relative;
        top: -21rem;
        flex: 1 0 40%;
        justify-content: center;
        align-items: center;
    }
    .img-state-of-art {
        width: 70%;
        max-width: 70%;
    }
    .content-state-of-the-art .section-2 {
        position: relative;
        top: -22rem;
        flex: 1 0 60%;
        width: 83%;
        padding-right: 3rem;
    }
}